################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SortedKata
/CheckoutKata/bin/Debug/netcoreapp3.1
/CheckoutKata/obj
/SortedKata/bin/Debug/netcoreapp3.1
/SortedKata/obj
